

/* footer -1 */

.mainfooter{

    width:100vw;
    display: flex;
    justify-content: space-between;
}
.last_ul1{
    display: flex;
    gap: 10px;
    justify-content: space-around;
}
.last_ul2{
    display: flex;
}
.last_ul1>li{
    font-size: small;
}

/* footer -2 */
.main_f2{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main_f2>div{
    
    border: 2px solid black;
    border-radius: 4px;
    height: 50px;
    width: 300px;
    display: flex;
    justify-content: space-between;
    background-color:#0d0d0d;
    &:hover{
        background-color:black;
    }
}
.main_f2 p ,.main_f2 img{
    font-size: small;
    padding:15px 10px;
  
}
.main_f2 img{
  background:white
}

/* footer-1 */
.f1_main, .f1_main h3{
    margin: 20px 0;
}
.f1_main h3{
    color: white;
    text-align: center;
    font-family: "nothing",sans-serif;
}
.f1_link{
color: white;
text-decoration: none;
}
   

/* all footer group */

.allf{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    background-color: #000000;
    color: white;
}