.empty{
    width: 100vw;
    text-align: center;
}
.main{
    position: absolute;
    top:8px;
    right: 35%;
    z-index: 5;
    display: flex;
    justify-content: space-between;
    background-color: rgba(128, 128, 128, 0.747);
    width: 400px;
    height: 50px;
    border-radius: 12px;

}
.menu, .cart{
    padding: 10px;
    width: 35px;
    cursor: pointer;
}
.logo{
    margin-top: 10px;
    height: 30px;
    margin-left: 35px;
}
.hidmenu{
     position: absolute;
    top:8px;
    right: 35%;
    z-index: 5;
    background-color: rgba(128, 128, 128, 0.747);
    width: 400px;
    height: 575px;
    border-radius: 12px;

}
